h1 {
  color: #000000;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}

.site-header {
  background-image: url('explosion-1.jpg');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  height: 300px;                  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;                   
}
.corner-menu {
  text-align: right;
  right: 20px;
  color: black;
  background-color: none;
}
.menu-list {
  display: none; /* Hide by default, toggle with JS or hover */
  list-style: none;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.corner-menu:hover .menu-list {
  display: block; /* Shows menu on hover for a simple pure-CSS approach */
}
#footnote {
  font-size: 0.8em;
  color: #10003b;
  margin-top: 20px;
}
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
.submenuR, .submenuA {
  display: block; /* Hide by default, toggle with JS or hover */
  list-style: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-indent: 30px;
}
.calendar {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: #fff;
}
